<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <!-- <h1><span data-i18n="about_me.about_me">{{ site.author.desc }}</span></h1> -->
            <h1><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- Left icons -->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon text-center">
                    <i class="fa {{ site.author.skill_icon1[0].name }}"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon text-center">
                    <i class="fa {{ site.author.skill_icon1[1].name }}"></i>
                </div>
            </div>
        </div>
        
        <!-- Center avatar -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="team-member wow zoomIn text-center">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="130" width="130" class="img-responsive img-circle" alt="">
                <!-- <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4> -->
                <ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    {% if site.author.google_scholar_id %}
                    <li><a href="https://scholar.google.com/citations?user={{ site.author.google_scholar_id }}" target="blank"><i class="fa fa-graduation-cap"></i></a></li>
                    {% endif %}
                    {% if site.author.researchgate_id %}
                    <li><a href="https://www.researchgate.net/profile/{{ site.author.researchgate_id }}" target="blank"><i class="fa fa-flask"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <!-- Right icons -->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon text-center">
                    <i class="fa {{ site.author.skill_icon2[0].name }}"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon text-center">
                    <i class="fa {{ site.author.skill_icon2[1].name }}"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
        </div>
    </div>
</div>

<style>
.team-member {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.team-member p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    margin: 0;
    opacity: 0.7;
}

/* Special styling for icon cells only */
.col-lg-2 .team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vote-icon {
    height: 50px;
    line-height: 50px;
    font-size: 34px;
    color: #676a6c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}

.vote-icon:hover {
    opacity: 0.5;
}

.social-icon {
    margin-top: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}

.social-icon li {
    display: inline-block;
    margin: 0 5px;
}

.social-icon li a {
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1ab394;
    border-radius: 50%;
    position: relative;
}

.social-icon li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.social-icon li a:hover {
    background-color: #18a689;
    transform: translateY(-2px);
}
</style>

{% if site.data.index.about %}
<section id="about" class="section about-section">
    <h2 class="section-title"><span data-i18n="about.about">About Me</span></h2>
    <div class="intro">
        <div class="about-content">
            <div class="about-icons">
                <i class="fa fa-graduation-cap fa-2x"></i>
                <i class="fa fa-code fa-2x"></i>
            </div>
            <p><span data-i18n="about.intro"></span></p>
        </div>
    </div>
</section>
{% endif %}

<style>
.about-section {
    padding: 60px 0;
    background-color: #f5f5f5;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.about-icons i {
    color: #1ab394;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.about-icons i:hover {
    opacity: 0.6;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    margin: 0;
}

@media (max-width: 768px) {
    .about-icons {
        gap: 20px;
    }
}
</style>

<style>
.col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg.wow.zoomIn p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    margin: 0;
    opacity: 0.7;
}
</style>
